version: '3'
services: 
    hugo:
        container_name: hugo
        image: klakegg/hugo
        volumes:
            - ".:/hugo"
        entrypoint: tail -f /dev/null
        ports:
            - "1313:1313"
        tty: true
        working_dir: /hugo
